@model Passion_Project.Models.ContractDto
@{
    ViewBag.Title = "DeleteConfirm";
}



<div class="go-link"><a href="/Contract/Details/@Model.ID">Go back </a></div>

<h2 class="table-title">Are you sure you want to delete the contract?</h2>

<table class="list-table">
    <thead>
        <tr>
            <th>Contract ID</th>
            <th>Owner ID</th>
            <th>Policy</th>
            <th>Insurer</th>
            <th>Active Status</th>
            <th>Purchase Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><div>@Model.ID</div></td>
            <td><div>@Model.OwnerID</div></td>
            <td><div>@Model.Policy</div></td>
            <td><div>@Model.Insurer</div></td>
            <td><div>@Model.Active</div></td>
            <td><div>@Model.PurchaseDate</div></td>
        </tr>
    </tbody>
</table>

    <form action="/Contract/Delete/@Model.ID" method="POST">
        <div>
            <button class="btn" style="background:#ff0000; color:#ffffff;">Confirm Delete</button>
        </div>

    </form>


