@model Passion_Project.Models.ContractDto
@{
    ViewBag.Title = "DeleteConfirm";
}



<a href="/Contract/Details/@Model.ID">Go back </a>

<h2>Are you sure you want to delete this contract?</h2>
<div>ContractID: @Model.ID</div>
<div>OwnerID: @Model.OwnerID</div>
<div>Policy: @Model.Policy</div>
<div>Insurer: @Model.Insurer</div>
<div>Active Status: @Model.Active</div>
<div>Purchase Date: @Model.PurchaseDate</div>


<form action="/Contract/Delete/@Model.ID" method="POST">
    <div>
        <button style="background:#ff0000; color:#ffffff;">Delete this Contract</button>
    </div>

</form>




<h2>DeleteConfirm</h2>

