@model IEnumerable<Passion_Project.Models.ContractDto>
@{
    ViewBag.Title = "List";
}

<h2>List of Contracts</h2>
 
@foreach (var contract in Model)
{
    <h2><a href="/Contract/Details/@contract.ID">@contract.First_Name @contract.Last_Name</a></h2>
    <div>Owner ID: @contract.OwnerID</div>
    <div>Policy: @contract.Policy</div>
    <div>Insurer: @contract.Insurer</div>
    <div>Status: @contract.Active</div>
    <div>PurchseDate: @contract.PurchaseDate</div>

}
