@model Passion_Project.Models.ViewModels.ContractNew
@{
    ViewBag.Title = "Create";
}


<div class="go-link"><a href="/Contract/List">Go back to list</a></div>

<h2 class="table-title">Create Contract</h2>

<form action="/Contract/Create" method="POST">
    <div>
        <lable>OwnerID:</lable>
        <select name="OwnerID">
            @foreach (var owner in Model.AvailableOwners)
            {
                <option value="@owner.OwnerID">@owner.Last_Name @owner.First_Name</option>
            }
        </select>
    </div>
    <div>
        <lable>PolicyId:</lable>
        <select name="PolicyID">
            @foreach (var policy in Model.AvailablePolicies)
            {
                <option value="@policy.PolicyID">@policy.Name</option>
            }
        </select>
    </div>
    <div>
        <lable>InsurerID:</lable>
        <select name="InsurerID">
            @foreach (var insurer in Model.AvailableInsurers)
            {
                <option value="@insurer.InsurerID">@insurer.Name</option>
            }
        </select>
    </div>
    <div>
        <lable>Active Status:</lable> <input type="text" name="Active" />
    </div>
    <div>
        <lable>Purchase Date:</lable> <input type="text" name="PurchaseDate" />
    </div>
    <div>
        <button class="btn" style="background:#ff0000; color:#ffffff;" name="Create Owner">Create Contract</button>
    </div>
</form>
